:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(197, 249, 200, 0.87);
  background-color: #181616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

li {
  display: flex;
  flex-direction: column;
  background: rgb(103, 100, 100);
  border: 2px solid #222222;
  border-radius: 8px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  height: 30px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #222222;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #66df21;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
